.AddToCart button {
  padding: 2px 10px;
  margin-right: 5px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  transition: all 100ms linear;
  display: block;
  max-width: calc(100% - 30px);
}
.AddToCart button:hover {
  background-color: rgb(115, 233, 115);
  
}
.AddToCart{
  width: 100%;
  max-width: 350px;
  align-items: center;
}
