footer {
    background: rgb(245, 245, 247);
    padding: 25px 0;
}

.Foot_tit {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
    font-family: Times New Roman;
}

.Foot_bot {
    text-align: center;
    font-size: 12px;
}

.Foot_bot p:last-child {
    padding-top: 25px;
    margin-top: 15px;
    border-top: 1px solid rgb(93, 93, 93);
}

.Foot_links-wrap {
    width: 100px;
}

.Foot_link {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    background: #333;
}

.Foot_link:first-child {
    margin-left: 0;
}

.Foot_menu-in p {
    width: 70%;
    align-items: flex-start;
    font-size: 12px;
    opacity: 0.85;
}


.Footer_ul_txt{
    width: 52%;
    margin-left: 200px;
    margin-top: -188px;
    font-family: Times New Roman;
    font-size: 20px;
}

.Footer_li{
    margin-bottom: 20px;
}