.CategoryList{
    
    padding: 10px 0;
}
.CategoryList a{
    display: block;
    padding: 3px 45px;
    transition: 0.3s;
}

.dropdownBtn{
    padding-left: 110px;
    margin-bottom: 15px;
    color: #000;
    font-size: 50px;
    font-family: Times New Roman;
}

.dropdownContent_ul {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    padding-left: 170px;
    font-family: Times New Roman;
}