.CategoryList{
    
    padding: 10px 0;
}
.CategoryList a{
    display: block;
    padding: 3px 45px;
    transition: 0.3s;
}

.dropdownBtn{
    padding-right: 88px;
    margin-bottom: 15px;
    color: #000;
    font-size: 45px;
}

.dropdownContent_ul {
    display: flex;
    font-size: 23px;
    justify-content: space-around;
    padding-left: 40px;
}